<% include ../partials/header %>

  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-5">
          <div class="thumbnail">
            <img class="myPic"src="https://scontent.fvno1-1.fna.fbcdn.net/v/t31.0-8/18451522_1565479773471556_1868658544654223654_o.jpg?oh=f75b103bfe84cd0e3f0aaee61cd2a040&oe=5A0127F5" alt="">
          </div>

      </div>
      <div class="col-sm-6 col-md-7">
        <p>
          <h4>Schools:</h4>
          <ul>
          <li>Vilnius Antakalnis high school (1-8 classes)</li>
          <li>Vilnius Žirmūnai gymnasium (graduated)</li>
        </ul>
        <h4>University:</h4>
        <ul>
        <li>Vilnius University MIF IT</li>
      </ul>
      <h4>Social Media:</h4>
      <ul class="noBullet">
      <li>
        <span><a target="_blank" class="social" href="https://www.facebook.com/mantas.kujalis"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a></span>
        <span><a target="_blank" class="social" href="https://www.instagram.com/mantaskuj/"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></span>
        <span><a target="_blank" class="social" href="https://www.linkedin.com/in/mantas-k%C5%ABjalis-0221b7136/"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a></span>
      </li>
    </ul>
    <h4>A little bit about me:</h4>
    <p>An official, but non-binding, federal referendum on prohibition was held in 1898. Prime Minister Wilfrid Laurier's government chose not to introduce a federal bill on prohibition, mindful of the strong antipathy in Quebec. As a result, Canadian prohibition was instead enacted through laws passed by the provinces during the first twenty years of the 20th century. The provinces repealed their prohibition laws, mostly during the 1920s.An official, but non-binding, federal referendum on prohibition was held in 1898. Prime Minister Wilfrid Laurier's government chose not to introduce a federal bill on prohibition, mindful of the strong antipathy in Quebec. As a result, Canadian prohibition was instead enacted through laws passed by the provinces during the first twenty years of the 20th century. The provinces repealed their prohibition laws, mostly during the 1920s.</p>
      </p>
      </div>
    </div>
  </div>

<% include ../partials/footer %>
