<% include ../partials/header %>

<div  class="container">
  <div class="post">
    <form class="form-horizontal" action="/login" method="post">
      <div class="form-group">
        <label for="inputUsername" class="col-sm-2 control-label">Username</label>
        <div class="col-sm-10">
          <input id="inputUsername" type="text" name="username" class="form-control login" placeholder="Username" required>
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
          <input id="inputPassword" type="Password"  class="form-control login" name="password" placeholder="Password" required>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button class="btn btn-default">Submit</button>
          <a class="btn btn-default" href="/">Go back</a>
        </div>
    </form>
    </div>
  </div>
</div>

<% include ../partials/footer %>
