<% include ../partials/header %>

<div  class="container">
  <div class="post">
    <form class="form-horizontal" action="/register" method="post">
      <div class="form-group">
        <label for="inputUsername" class="col-sm-2 control-label">Username</label>
        <div class="col-sm-10">
          <input id="inputUsername" type="text" name="username" class="form-control login" placeholder="Username" required>
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
          <input id="inputPassword" type="Password"  class="form-control login" name="password" placeholder="Password" required>
        </div>
      </div>
      <div class="form-group">
        <label for="inputName" class="col-sm-2 control-label">First name</label>
        <div class="col-sm-10">
          <input id="inputName" type="text"  class="form-control login" name="firstName" placeholder="First name" required>
        </div>
      </div>
      <div class="form-group">
        <label for="inputLastName" class="col-sm-2 control-label">Last name</label>
        <div class="col-sm-10">
          <input id="inputLastName" type="text"  class="form-control login" name="lastName" placeholder="Last name" required>
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input id="inputEmail" type="email"  class="form-control login" name="email" placeholder="Email" required>
        </div>
      </div>
      <div class="form-group">
        <label for="inputIsAdmin" class="col-sm-2 control-label">Admin code</label>
        <div class="col-sm-10">
          <input id="inputIsAdmin" type="text"  class="form-control login" name="isAdmin" placeholder="Admin code" disabled>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button class="btn btn-default">Submit</button>
          <a class="btn btn-default" href="/">Go back</a>
        </div>
      </div>
    </form>

  </div>
</div>

<% include ../partials/footer %>
