<footer class="footer">
  <div class="container">
    <p class="text-muted"><i class="fa fa-copyright" aria-hidden="true"></i> Mantas Kūjalis 2017 | <a href="/">Home</a></p>
  </div>
</footer>
    <script type="text/javascript" src="/js/main.js"></script>
  </body>
</html>
