<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mantas Kūjalis</title>
  <link rel="icon" href="http://www.gentillocadora.com.br/img/about/motorista-peq.png" type="image/ico" />

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/components/button.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <%if(currentUser && currentUser.isAdmin){ %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/media.css">
    <%  }%>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container-fluid container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-nav-demo">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/">Home</a></li>
                <li><a href="/about-me">About me</a></li>
                <li><a href="/contact-me">Contact me</a></li>
                <%if(currentUser && currentUser.isAdmin){ %>
                  <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="/messages">Messages</a></li>
                      <li><a href="/new">New Post</a></li>
                    </ul>
                  </li>
              <%  }%>
            </ul>
          <ul class="nav navbar-nav navbar-right">
            <form class="navbar-form navbar-left search" method="GET" action="/">
              <div class="form-group">
              <input type="text" class="form-control" name="search" id="searchInput" placeholder="Search..">
              </div>
              <button type="submit" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-search"></span></button>
            </form>
            <% if(!currentUser){ %>
                      <li><a href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a></li>
                      <li><a href="/register"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up</a></li>
                      <%} else { %>
                      <li><a>Signed In As <%=currentUser.username%></a></li>
                      <li><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
                    <%  }%>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
  <%if(error && error.length > 0){ %>
    <div class="alert alert-danger" role="alert">
      <%= error %>
    </div>
<% } else if (success && success.length > 0){ %>
  <div class="alert alert-success" role="alert">
    <%= success %>
  </div>
<% }%>
</div>
