<% include ../partials/header %>

<div  class="container">
  <h1>Update Comment</h1>
    <form class="form-horizontal" action="/<%= post_id %>/comments/<%= comment._id %>/?_method=PUT%>" method="post">
      <div class="form-group">
        <label for="myTxtArea" class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
          <textarea id="myTxtArea" class="form-control" name="comment[text]" rows="3" cols="80"><%=comment.text%></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button class="btn btn-md btn-success">Update Comment</button>
          <a class="btn btn-default" href="/<%= post_id %>">Go back</a>
        </div>
    </form>
  </div>
</div>


<% include ../partials/footer %>
