<% include ../partials/header %>
<div  class="container">
  <h1>Enter new comment</h1>
    <form class="form-horizontal" action="/<%= post._id %>" method="post">
      <div class="form-group">
        <label for="inputText" class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
          <textarea id="inputText" class="form-control" name="comment[text]" rows="3" cols="80"></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button class="btn btn-sm btn-success">Add Comment</button>
          <a class="btn btn-default" href="/<%= post._id %>">Go back</a>
        </div>
      </div>
    </form>

</div>
<% include ../partials/footer %>
