<% include partials/header %>

  <div class="container main">
    <div class="jumbotron">
      <h1><i class="fa fa-user-circle-o" aria-hidden="true"></i> Mantas Kūjalis portfolio/blog</h1>
    </div>
    <div class="row text-center container">
      <div class="col-md-12">
        <%if(noMatch){ %>
          <h3><%=noMatch%></h3>
    <%   }%>
      </div>
      <div class="col-lg-12 col-md-12">
        <%for(var i = posts.length - 1; i >= 0; i--){ %>
        <div class="thumbnail">
          <div class="row">
            <div class="col-md-5">
              <div class="image-responsive">
                  <img src="<%=posts[i].image %>" alt="">
              </div>
            </div>
            <div class="col-md-7">
              <div class="caption">
                <h4><a href="/<%=posts[i]._id%>"><%= posts[i].title%></a></h4>

                  <p><%- posts[i].info.substring(0,250)%>.. </p>
                       <a href="/<%=posts[i]._id%>" class="ui secondary basic button" >More Info</a>
              </div>
            </div>
          </div>


      </div>
<% } %>
    </div>
  </div>
</div>

<% include partials/footer %>
