<% include ../partials/header %>

  <div class="container">
      <div class="post">
        <h1>Contact Me</h1>
        <form class="form-horizontal" action="/messages" method="post">
          <div class="form-group">
            <label for="inputName" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
              <input id="inputName" type="text" name="name" class="form-control" placeholder="Your name" required>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input id="inputEmail" type="email" name="email" class="form-control" placeholder="Your email" required>
            </div>
          </div>
          <div class="form-group">
            <label for="inputMessage" class="col-sm-2 control-label">Message</label>
            <div class="col-sm-10">
              <textarea id="inputMessage" type="text" name="message" class="form-control" name="name" rows="8" cols="80" required></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-default">Submit</button>
              <a class="btn btn-default" href="/">Go back</a>
            </div>
          </div>
        </form>
      </div>
  </div>

<% include ../partials/footer %>
