<% include ../partials/header %>

  <div class="container main">
    <div class="row text-center container">
      <div class="col-lg-12 col-md-12">
        <h1>Messages</h1>
        <% if(message < 1){ %>
          <h4>No messages!</h4>
      <%  } else { %>
        <%for(var i = message.length - 1; i >= 0; i--){ %>
        <div class="post">
          <div class="thumbnail messages">
            <div class="row">
              <div class="col-md-3">
                <h5>Name:</h5>
                <%= message[i].name %>
                <p><%= message[i].created.toDateString() %></p>
              </div>
              <div class="col-md-3">
                <h5>Email:</h5>
                <%= message[i].email %>
              </div>
              <div class="col-md-6">
                <h5>Message:</h5>
                <%= message[i].message %>
              </div>
            </div>
            <form class="messageDelete" action="/messages/<%= message[i]._id %>?_method=DELETE" method="POST">
              <button class="btn btn-xs btn-danger">Delete</button>
            </form>
          </div>
        </div>
      <%}%>
      <% } %>

    </div>
  </div>
  </div>




<% include ../partials/footer %>
