.thumbnail img{
  width: 100%;
}
.thumbnail {
  margin: 0 auto;
  padding: 0;
  width: 80%;
  margin-bottom: 10px;
}
.thumbnail .caption-full{
  padding: 9px;
}
h1 {
  text-align: center;
}
.btn-sm{
  width: 100px;
}
.btn-xs{
  border-radius: 0 !important;
  height: 24px;
}
.form{
  display: inline;
  margin: 0 auto;
}
.form-horizontal{
  margin: 0 auto;
}
.form-control{
  width: 80%;
  /*border: 0.1px solid black;*/
}
.container .post{
  padding-top: 50px;
  margin: 0 auto;
}
textarea {
    resize: none;
    height: 80px;
}
body{
  background-color: rgb(245,244,239);
}
.login{
  width: 30%;
}
#inputText{
  margin-top: 50px;
}
#commentLabel{
  margin-left: 10px;
  margin-top: 10px;
}
#commentText{
  width: 93%;
  margin-top: 20px;
  margin-left: 10px;
  /*margin: 0 auto;*/
}
#commentBTN{
  margin-left: 10px;
}
.jumbotron{
  background: #ecf0f1;
  /*margin-top: 100px;*/
}
.search{
  margin-top: 13px;
}
#searchInput{
  /*width: 100px;*/
  background-color: rgb(245,244,239);
  border-radius: 0 !important;
  height: 24px !important;
}
#text {
  width : 500px;
	min-height : 100px;
	/*border : 2px solid;*/
}
.intLink {
  cursor: pointer;
}
.new{
  margin-top: 3px;
}
.noBullet {
  list-style-type: none;
}
.social {
   color: inherit;
}
.messages{
  padding-right: 20px;
  padding-left: 20px;
}
.messageDelete{
  margin-bottom: 20px;
  padding-top: 20px;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: rgb(34,34,34);
  margin-top: 20px;
}

.container .text-muted {

  margin: 20px 0;
  color: #fff;
}
html {
  position: relative;
  min-height: 100%;
}
.main{
  /*padding-top: 10px;*/
  padding-bottom: 25px;
}
