<% include ../partials/header %>
<div class="container">
  <div class="post">
    <form class="form-horizontal" action="/<%=post._id%>/?_method=PUT" method="post">
      <div class="form-group">
        <label for="inputTitle" class="col-sm-2 control-label">Title</label>
        <div class="col-sm-10">
          <input id="inputTitle" type="text" name="post[title]" class="form-control" value="<%= post.title %>" required>
        </div>
      </div>
      <div class="form-group">
        <label for="inputImage" class="col-sm-2 control-label">Image</label>
        <div class="col-sm-10">
          <input id="inputImage" type="text"  class="form-control" name="post[image]" value="<%= post.image %>" required>
        </div>
      </div>
      <div class="form-group">
        <label for="inputInfo" class="col-sm-2 control-label ">Description</label>
        <div class="col-sm-10">
          <!-- <textarea  class="form-control" id="inputInfo" name="post[info]" rows="8" cols="80" required><%= post.info %></textarea> -->
          <p>&nbsp;<span class="intLink" onclick="insertMetachars('&lt;strong&gt;','&lt;\/strong&gt;');"><i class="fa fa-bold" aria-hidden="true"></i></span> | <span class="intLink" onclick="insertMetachars('&lt;em&gt;','&lt;\/em&gt;');">
            <i class="fa fa-italic" aria-hidden="true"></i></span> |
             <span class="intLink" onclick="var newURL=prompt('Enter the full URL for the link');if(newURL){insertMetachars('&lt;a href=\u0022'+newURL+'\u0022&gt;','&lt;\/a&gt;');}else{document.myForm.myTxtArea.focus();}">URL</span> | <span class="intLink" onclick="insertMetachars('&lt;p&gt;','&lt;\/p&gt;');">
               <i class="fa fa-paragraph" aria-hidden="true"></i></span> &nbsp;</p>
          <p><textarea id="myTxtArea" name="post[info]" class="form-control"rows="8" cols="80" required><%= post.info %></textarea></p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button class="btn btn-default">Submit</button>
          <a class="btn btn-default" href="/<%=post._id%>">Go back</a>
        </div>
      </div>
    </form>
  </div>
</div>



<% include ../partials/footer %>
