<% include ../partials/header %>

<div class="container">
  <div class="thumbnail">
    <img class="image-responsive" src="<%= post.image %>">
      <h1><%= post.title %></h1>
<hr>
      <div class="caption-full">
        <p> <%- post.info %> </p>
        <div class="">
          <h5 class="">Created by <%=post.author.username%> <%= post.created.toISOString().slice(0, 10)%></h5>
        </div>
        <%if(currentUser && (currentUser._id.equals(post.author.id) || currentUser.isAdmin == true)){%>
        <a class="btn btn-sm btn-warning" href="/<%= post._id%>/edit">Edit</a>
          <form class="form" action="/<%= post._id %>?_method=DELETE" method="POST">
            <button class="btn btn-sm btn-danger">Delete</button>
          </form>
        <%  };%>
      </div>
  </div>
    <div class="thumbnail">
          <div class="row">
            <% post.comments.forEach(function(comment){ %>

              <!-- <div class="append"> -->
              <div class="caption-full">
                <div class="col-sm-3 col-md-3"> <!-- username div -->
                  <h5><%= comment.created.toDateString()%></h5>
                  <h6>Created by <%=comment.author.username%></h6>
                </div> <!-- username div -->
                <div class="col-sm-9 col-sm-offset-0 col-md-9 col-md-offset-0"> <!-- text div -->
                <h4><%= comment.text  %></h4>
                  <div class="text-right">
                    <%if(currentUser && (currentUser._id.equals(comment.author.id) || currentUser.isAdmin == true)){%>
                    <a class="btn btn-xs btn-warning" href="/<%= post._id %>/comments/<%= comment._id %>/edit">Edit</a>
                    <form class="form" action="/<%= post._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                      <button class="btn btn-xs btn-danger">Delete</button>
                    <%}%>
                      <hr>
                    </form>
                  </div>
                </div> <!-- text div -->
              </div>
                    <%  });%>
        </div>  <!-- end of row -->
      </div>  <!-- end of thumbnail -->

</div>
  <div class="container main">
    <div class="thumbnail">
      <form class="form-horizontal ajax" action="/<%= post._id %>" method="post">
        <div class="form-group">
          <div class="col-sm-10">
            <textarea id="commentText" class="form-control" name="comment[text]" rows="3" cols="80" placeholder="Write your comment here.." required></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10">
            <button id="commentBTN" class="btn btn-sm btn-success">Add Comment</button>
          </div>
        </div>
      </form>
    </div>
  </div>

<% include ../partials/footer %>
